/*variable*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.button:hover {
  transform: scale(1.2, 1.2);
  animation-timing-function: cubic-bezier(0.81, 0.02, 0.69, 1);
  box-shadow: 1rem 1rem 1rem #bdbdbd;
  background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 10%, #ff79da 100%);
  opacity: 0.7;
  transition: opacity 350ms;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  padding-bottom: 1.2rem;
}
.header i {
  padding-right: 3rem;
  font-size: 1.5em;
}

.imgplat {
  width: 100%;
}

.menu {
  position: relative;
  background: #f6f6f6;
  border-radius: 2rem 2rem 0rem 0rem;
}
.menu .title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.menu .title h1 {
  padding: 0.6rem;
  padding-top: 1rem;
}
.menu .title .coeurpage {
  position: absolute;
  right: 5%;
  top: 5%;
  padding: 0.6rem;
  padding-top: 1rem;
}

.menu-card h2 {
  padding: 0.6rem;
  padding-top: 1rem;
  font-size: 1.2em;
}
.menu-card .menu-desc {
  position: relative;
  margin: 0.5rem;
  padding: 0.6rem;
  background: white;
  border-radius: 1rem;
  display: flex;
}
.menu-card .menu-desc .price {
  position: absolute;
  bottom: 7%;
  right: 5%;
}
.menu-card .menu-desc h3 {
  font-size: 0.9em;
}
.menu-card .menu-desc p {
  font-size: 0.6em;
}

.bouton-place {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bouton-place .button {
  width: 50%;
  background: #9356DC;
  border: none;
  box-shadow: 0.6rem 0.6rem 1rem #bdbdbd;
  border-radius: 40px;
  color: white;
  padding: 1rem;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-weight: inherit;
  transition: transform 350ms;
}

/*police*/
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 992px;
}

.font1 {
  font-family: "Shrikhand";
  font-weight: 400;
}

body {
  width: 100%;
}

header {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  padding-top: 2rem;
}
header .recherche {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  text-decoration: none;
  color: black;
  box-shadow: inset 0 0.1rem 0.2rem rgb(141, 140, 140);
  margin-top: 1rem;
  padding: 1rem;
}
header .recherche p {
  padding-left: 1rem;
  font-size: 1em;
  font-weight: 500;
}

.intro {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  text-align: center;
}
.intro h1 {
  width: 70%;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 2rem;
}
.intro p {
  padding: 1rem;
  padding-top: 0.8rem;
  font-weight: lighter;
}

.button {
  background: #9356DC;
  border: none;
  box-shadow: 0.6rem 0.6rem 1rem #bdbdbd;
  border-radius: 40px;
  color: white;
  padding: 1rem;
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-weight: inherit;
  transition: transform 350ms;
  background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 10%, #ff79da 100%);
}

.fonctionnement h1 {
  padding: 0.8rem;
  padding-top: 2rem;
}

.cartouche {
  background: #f6f6f6;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1.5rem;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0.3rem 1rem #bdbdbd;
}
.cartouche .card-logo {
  color: #7e7e7e;
  position: absolute;
  left: 12%;
}
.cartouche .num {
  background: #9356DC;
  border-radius: 100%;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -3%;
  height: 1.4rem;
  width: 1.4rem;
  font-size: 0.8em;
}

.list-resto {
  background: #f6f6f6;
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}
.list-resto h1 {
  padding-top: 3rem;
}
.list-resto .card-resto {
  position: relative;
  background: white;
  width: 100%;
  border-radius: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.list-resto .card-resto a {
  text-decoration: none;
}
.list-resto .card-resto img {
  object-fit: cover;
  max-width: 992px;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.list-resto .card-resto a .new {
  color: rgb(209, 22, 22);
  position: absolute;
  top: 5%;
  right: 5%;
  background: #99e2d0;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #278a71;
}
.list-resto .card-resto .coeur {
  font-size: 1.7em;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 20%;
  right: 15%;
}

.card-resto2 {
  position: relative;
  background: white;
  width: 100%;
  border-radius: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.card-resto2 a {
  text-decoration: none;
}
.card-resto2 img {
  object-fit: cover;
  max-width: 992px;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card-resto2 .coeur {
  font-size: 1.7em;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 20%;
  right: 15%;
}

.desc {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  padding-left: 0.7rem;
}
.desc h2 {
  padding-bottom: 0.3rem;
  font-weight: bold;
  font-size: 1.2em;
}

/* pk la mixin ne veux pas ?*/
.foot {
  background: rgb(34, 34, 34);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.7rem;
}
.foot h3 {
  padding: 0.5rem;
}
.foot span {
  padding-right: 0.5rem;
}
.foot span .fa-utensils {
  width: 20px;
}
.foot li {
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
